body.main {
    background-color: white;
    margin: 0;
}

.container {
    max-width: 950px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    line-height: 1.8em;
}

h3 {
    color: #222222;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

.project-title {
    font-size: 1.5em;
    margin: 0 0 5px 0;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0.5rem;
    background: none;
    opacity: .7;
    min-height: 40px;
    z-index:1;
}

.navbar-link {
    display: inline;
    float: right;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
}

.hero-content {
    display: inline-block;
    position: relative;
    min-height: 500px;
    background-image: url(../assets/images/dartmoor-cox-tor.JPG);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    width: 100%;
}

.title-container {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-top: 150px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;;
}

.sub-title {
    letter-spacing: 0.3rem;
    font-weight: 500;
    text-align: center;
}

.divider {
    max-width: 500px;
    background-color: #505050 !important;
}

.links-container {
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    color: black;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.section {
    min-height: 300px;
    height:auto;
    padding: 35px;
}

.section-title {
  font-weight: 600;
  letter-spacing: .2rem;
}

.about {
    background-color: white;
}

.about-skills {
  font-weight: 300;
  font-size: 22px;
  padding-top: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  line-height: 100px;
  text-align: center;
  background: #9fb0cc;
  display: inline-block;
  margin-left: 10px;
}

.about-links{
  padding-top: 20px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#projects {
  background-color: #F9F9F9;
}

.proj-image {
  max-width: 100%;
  max-height: 180px;
  min-height: 100px;
}

#pong-game {
  display: block;
}

.contact {
  text-align: center;
}
.contact-header {
  font-size: 25px;
}

.contactForm {
    top: 50%;
    right: 0;
    left: 0;
}

.nameInput {
    display: block;
    text-align: center;
}

.emailInput {
    display: block;
    text-align: center;
}

.messageInput {
    display: block;
    text-align: center;
}

.sendMessageButton {
    display: block;
    text-align: center;
}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    height: 100px;
    box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
    overflow: auto;
}

.card-large {
    max-height: 190px;
    min-height: 100px;
    height: auto;
    text-align: left;
}

.contact-input {
    width: 100%;
    padding: 20px 0 20px 10px;
}

.contact-button {
    width: 101%;
}
